h2 {
  background: orangered;
  color: white;
  padding-left: 10px;
}

.example-button-row {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  background: orangered;
  padding: 10px;

}

.login-button {
  width: 4em;
}

button {
  color: white;
}
